.container {
  height: 99%;
  width: 100%;
  border: 1px solid #CCC;
  position: relative;
}

.example-chat {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 3px;
  background-color: #fff;
  padding: 0px;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}

.example-chat header {
  line-height: 24px;
  font-size: 16px;
  padding: 10px 0px 10px 20px;
  font-weight: bold;
  background-color: #448AFF;
  color: #fff;
}

.example-chat input {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0px 10px;
  height: 30px;
  font-size: 18px;
  width: 100%;
  font-weight: normal;
  outline: none;
}

.example-chat .example-chat-toolbar {
  background-color: #FFF;
  padding: 10px;
  position: relative;
}

.example-chat .example-chat-toolbar label {
  text-transform: uppercase;
  line-height: 32px;
  font-size: 14px;
  color: #333;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.example-chat .example-chat-toolbar input {
  box-shadow: none;
  border: 1px solid #FFF;
  padding-left: 100px;
  color: #999;
}

.example-chat .example-chat-toolbar input:active,
.example-chat .example-chat-toolbar input:focus {
  color: #1d9aff;
  border: 1px solid #FFF;
}

.example-chat ul {
  list-style: none;
  margin: 0px;
  padding: 30px 20px 20px 20px;
}

.example-chat ul li {
  margin-bottom: 10px;
  line-height: 24px;
}

.example-chat ul li:last-child {
  margin: 0px;
}

.example-chat ul .example-chat-username {
  margin-right: 10px;
}

.example-chat footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
}

.example-chat footer input {
  border: 1px solid #ced3db;
  height: 40px;
}

.channel-li {
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.example-chat .ul-column {
  padding-top: 50px;
}

.message-date {
  font-size: 14px;
}

#main-chat {
  height: 92%;
}

#channel-column {
  float: left;
  width: 19%;
  height: 95%;
  overflow: auto;
  background-color: #448AFF;
}

#message-column {
  float: left;
  width: 81%;
  height: 95%;
  overflow: auto;
}

#channels-header {
  position: fixed;
  width: 18%;
  background-color: #448AFF;
  color: #fff;
}

#messages-header {
  position: fixed;
  width: 78.7%;
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

#add-channel-btn {
  float: right;
  padding: 5px 15px 5px 0px;
  cursor: pointer;
}
